<!DOCTYPE html>
<html>
  
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    
    <title>Pondy Tourism - Tourism, Travel Guide to Pondicherry.</title>
	<meta name="Description" content="Pondy Tourism is a guide for Things to do, Tourism, Travel, hotels, shopping & sightseeing to the travelers who love the Pondicherry tourism." />
    
	<meta name="Keywords" content="pondicherry, puducherry, pondy, tourism, food, french, france, india, south india, heritage, british, dutch, portugal, tamil, culture, creole, world cuisines, resorts, beach resorts, luxury, mid scale, budget, guest houses, sri aurobindo ashram, auroville, sri aurobindo society, sea side, beach, temple, church, mosque, spiritual, spirituality, religion, islam, christianity, land of pi, movies, destination, scuba diving, surfing, solar power, green, light house, gandhi, historical, peaceful, give time a break, relaxing, ayurveda, medicine, homeopathy, rejuvenation, alternate healing therapies, mother, siddhar temples, roman, ancient settlements, aayi mandapam, napolean, education, mice, medical tourism, lycee, alliance, cosmopolitan" />
	<meta http-equiv="X-FRAME-OPTIONS" content="SAMEORIGIN">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://www.pondytourism.in/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="http://www.pondytourism.in/css/custom-style.css" rel="stylesheet" media="screen">
    <link type="text/css" rel="stylesheet" href="http://www.pondytourism.in/css/lightGallery.css" />
	<link rel="shortcut icon" href="http://www.pondytourism.in/favicon.ico" type="image/x-icon">
    <link rel="icon" href="http://www.pondytourism.in/favicon.ico" type="image/x-icon">
   	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- Make IE8 and below responsive by adding CSS3 MediaQuery support -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    
<style>

a.flight-time:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: url(http://www.pondytourism.in/images/flight.png) no-repeat;
    width: 100px;
    height: 40px;
    background-size: 80%;
}
a.flight-time span{
    visibility: hidden;
}

</style>
  </head>
  
  <body class="about-us"> 
    <div class="container-fluid"> 
        <div class="visible-xs visible-md visible-sm padding-t-10" id="logo3"> <center> <a href="http://www.pondytourism.in/index.php"><img src="http://www.pondytourism.in/images/pondicherry-logo.png"></a> </center> </div>
    	<div class="row padding-t-10 topnav">
        	<div class="hidden-sm hidden-xs hidden-md col-lg-1" id="logo2"> <center><a href="http://tourism.puducherry.gov.in/"><img src="http://www.pondytourism.in/images/emblem2.png"></a></center>  </div>
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">  
            
            	<!-- Static navbar --> 
                      <div class="navbar navbar-default padding-0" role="navigation">
                        <div class="container">
                          <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                            </button>
                            <!--<a class="navbar-brand" href="#"></a>-->
                          </div> 
                          <div class="navbar-collapse collapse">
                           <!-- <ul class="nav navbar-nav"> 
                                <li> <a href="about-us.php" class="active"> About	</a> </li>						
                                <li> <a href="iconics.php"> Iconic </a></li>										
                                <li> <a href="events.php"> Events </a></li>							
                                <li> <a href="fairs-and-festivals.php"> Festivals	</a></li>							
                                <li> <a href="experience.php"> Experience </a></li>							
                                <li> <a href="nearby.php"> Nearby </a></li>				
                                <li> <a href="tour-packages.php"> Tours </a></li>						
                                <li> <a href="directory.php"> Directory </a></li>						
                                <li> <a href="gallery-photo.php"> Gallery </a></li>
                                 <li> <a href="http://tourism.pondicherry.gov.in" target="_blank"> Official </a> </li>
								<li> <a href="trip-planner.php"> Trip Planner </a></li>
								<li> <a href="learn-tamil.php" target="_blank"> <img src="images/flight.png" style="margin-top: -30px; width:150px;"> </a></li> 
                            </ul>   -->
<ul class="nav navbar-nav"> 
<li> <a href="about-us.html" class="active"> About</a></li>						
<li> <a href="http://www.pondytourism.in/iconics.php"> Iconic </a></li>									
<li> <a href="http://www.pondytourism.in/events.php"> Events </a></li>							
<li> <a href="http://www.pondytourism.in/fairs-and-festivals.php"> Festivals</a></li>							
<li> <a href="http://www.pondytourism.in/experience.php"> Experience </a></li>							
<li> <a href="http://www.pondytourism.in/nearby.php"> Nearby </a></li>				
<li> <a href="http://www.pondytourism.in/tour-packages.php"> Tours </a></li>						
<li> <a href="http://www.pondytourism.in/directory.php"> Directory </a></li>						
<li> <a href="http://www.pondytourism.in/gallery-photo.php"> Gallery </a></li>
<li> <a href="http://www.pondytourism.in/trip-planner.php"> Trip Planner </a></li> 
<li class="travel-tip"> <a href="http://www.pondytourism.in/learn-tamil.php" target="_blank">Travel & Tips </a></li>
<li> <a class="flight-time" href="http://www.pondytourism.in/flight-timings.php" target="_blank"><span>Flight Timing </span></a></li>  
</ul>             
         
                          </div><!--/.nav-collapse -->
                        </div><!--/.container-fluid -->
                      </div>
                      
            
            </div>
        	<div class="hidden-sm hidden-xs hidden-md col-lg-1" id="logo2"> <center> <a href="http://www.pondytourism.in/index.php" target="_blank"><img src="http://www.pondytourism.in/images/pondicherry-logo3.png"></a> </center> </div>
            
        </div> <div class="visible-lg visible-md"><a href="#" id="menu-handle2"><img src="http://www.pondytourism.in/images/menu.jpg" class="off" style="display:none;"></a><a href="#" id="showmenu2"><img src="http://www.pondytourism.in/images/menu-on.jpg" class="on"></a></div>
       	
        <div class="row padding-t-20"> 
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            	<ul class="submenu3">
                    <li> <a href="about-us.html" class="active"> Introduction </a> </li>
                    <li> <a href="http://www.pondytourism.in/history-of-puducherry.php"> History </a> </li>
                    <li> <a href="http://www.pondytourism.in/puducherry-heritage.php"> Heritage </a> </li>                    
                </ul>  
            </div> 
        </div>
        
        <div class="row padding-t-20">
        	<div class="col-lg-6 col-md-6 col-sm-12">
            	<div class="about-block-img about_t1_b"></div>
                <div class="row padding-t-10 padding-b-10 about-thumbs">
                	    <div class="col-xs-3"><a href="#"><img src="http://www.pondytourism.in/images/about_t1.jpg" class="img-responsive img-fullwidth" onclc="about_t1_b"></a></div>
                        <div class="col-xs-3"><a href="#"><img src="http://www.pondytourism.in/images/about_t2.jpg" class="img-responsive img-fullwidth" onclc="about_t2_b"></a></div>
                        <div class="col-xs-3"><a href="#"><img src="http://www.pondytourism.in/images/about_t3.jpg" class="img-responsive img-fullwidth" onclc="about_t3_b"></a></div>
                        <div class="col-xs-3"><a href="#"><img src="http://www.pondytourism.in/images/about_t4.jpg" class="img-responsive img-fullwidth" onclc="about_t4_b"></a></div>
                </div>
                
            </div>
       	    <div class="col-lg-6 col-md-6 col-sm-12">
            	<div class="about-block-text"> <p class="about-content-scroller"> Away from the hustle and bustle of big cities, Puducherry is a quiet little town on the southern coast of India. The unmistakable French connection, the tree lined boulevards, the quaint colonial heritage buildings, the spiritual sceneries, the endless stretches of unspoilt virgin beaches and backwaters and a surprising choice of restaurants serving a melange of cuisines provide a heady mix of experience that draws travellers from near and far to the city. It is the perfect place to come if you want to take the pace of life down a few notches.
 <br><br>
<strong>PROFILE</strong> <br><br>
The Union Territory of Puducherry comprises of four coastal regions namely Puducherry, Karaikal, Mahe and Yanam. Puducherry and Karaikal are situated on the East Coast of Tamil Nadu, Yanam in Andhra Pradesh and Mahe on the West Coast in Kerala.
 <br><br>
The city of Puducherry is the Capital of this Union Territory. It lies on the east coast about 162 kms south of Chennai (Madras) located on the Coromandel Coast of the Bay of Bengal. There are no hills or forests in this region. The major soil types found here are red ferralitic, black clay and coastal alluvial.
 <br><br>
The main spoken language is Tamil; though Telugu, Malayalam, English and French are spoken by a considerable number of people. Although the majority of the population is Hindu, there are quite a number of Christians and Muslims, whereas Jains, Sikhs and Buddhists are few in comparison.
 <br><br>
Puducherry, as many people feel, has a distinct spiritual vibration. Stories of resident sages come down throughout its history from the earliest days. 
 <br><br>
Puducherry has a special vibe, not felt anywhere else in India. It is a blend of spiritual aura, colonial heritage, Tamil culture and the cosmopolitan flair of many nationalities in a small but varied town. This inherent ambience of Pondy becomes most evident in the oldest part of the town which flanks the seashore boulevard. 
 <br><br>
The colonial buildings, some of which date back to the 18th century, stretch along a grid of clean straight streets which house French institutions, Hotels, Guest Houses, Restaurants, Boutiques and private homes, including the sprawling premises of the famous Sri Aurobindo Ashram. Visitors to this area are greeted by mellow hues of cream, yellow, pink and grey compound walls interspersed by flamboyant bougainvillea bursting over gates and walls of courtyards.
 <br><br>
Quiet beaches and peaceful resorts in the north and south of the city balance the town's busy, yet easy going life. Pondy, not only offers its own special attractions, but also doubles as the perfect base to explore the rich destinations of Tamilnadu that surrounds it. Some destinations, namely Auroville, the international City of Unity, the imposing Gingee Fort, the holy temple towns of Kanchipuram, Thiruvannamalai and Chidambaram, the heritage sculptures and magnificent rock temples of Mamallapuram (Mahabalipuram) and the cool lush hill stations of Yercaud and Kodaikanal should make your To-Do list.
 <br><br>
Puducherry is best accessible by road from Chennai, Bangalore and even from Kerala. Chennai has an international airport and is easily reachable via a national highway from Puducherry, and offers good transit hotels in the vicinity for travellers arriving late at night.
 <br><br>
Puducherry has a wide choice of hotels to choose from: Beach resorts for tourists and families, Heritage hotels for those who want to experience something out of the ordinary, high class commercial hotels for the corporate visitors and the neat Ashram Guest Houses for the spiritual seekers.  Restaurants serve a rich variety of French, Indian, Asian and continental food and also has many international chains of fast food.
 <br><br>
Puducherry is fast becoming a favourite shopping destination of the southern metropolitan cities. It is easy on your purse with low or no taxes. Although it is known for its traditional doll-making, textiles and silks, it is also the birthplace of several world class brands in leather, pottery, aromatics, fashion and handmade paper. These excellent products have become renowned solely on the merit of their superb quality. A new trend is the proliferation of exquisite decor boutiques and export-quality antique furniture galleries.
 <br><br>
However, as you shall see, the Pondy Experience is considerably more than any of these unique and cloistered aspects. It is an experience that captivates all kinds of visitors - from those who want to take in the sites or shop, eat and stay, on their own terms. 
 <br><br>
<em>The nickname "Pondy" sums up this shared feeling of belonging and having come home.</em>
 <br>
 </p>            
                </div>
            	
            </div>
        </div>               
                      
        <div class="row footer">
        	<div class="container-fluid footer-bg padding-t-50 colorit-grey">
            <div class="col-lg-4 col-md-4 col-sm-4  col-xs-12 padding-b-10"> 
            	<a href="http://www.pondytourism.in/interactive-map/index.html" target='_blank'>Interactive Map</a> | <a href="http://www.pondytourism.in/media.php">Media</a> | <a href="contact-us.html">Contact</a> | <a href="http://www.pondytourism.in/travel-tips.php">Tips</a> | <a href="faq.html">FAQ</a> | <a href="feedback.html">Feedback</a> | <a href="http://www.pondytourism.in/sitemap.php">Sitemap</a>
				
				<br><br>
				
				<!-- Histats.com  START  (standard)
<script type="text/javascript">document.write(unescape("%3Cscript src=%27http://s10.histats.com/js15.js%27 type=%27text/javascript%27%3E%3C/script%3E"));</script>
<script  type="text/javascript" >
try {Histats.start(1,2895211,4,137,112,33,"00000010");
Histats.track_hits();} catch(err){};
</script>
<noscript><img  src="http://sstatic1.histats.com/0.gif?2895211&101" alt="web statistics" border="0"></noscript>-->
<!-- Histats.com  END  -->

			<span style='background-color:#edebec; border:1px solid #231f20; padding:3px 6px;'>Visitors Count:&nbsp;5268569</span>			<!--<a href="http://www.holidayiq.com/states/pondicherry/" target="_blank"><img src="images/holiday-iq-lgo.png"></a>-->
			
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-b-10"> <div class="padding-t-5 text-center cpy_rgt1">
	
			<iframe src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpondytourism.in&amp;width=80&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe> <br>
			<a href="https://www.facebook.com/pondytourism.in" target="_blank"><img src="http://www.pondytourism.in/images/fb.png"></a> <a href="https://twitter.com/pondytourism" target="_blank"><img src="http://www.pondytourism.in/images/twitter.png"></a>  <a href="https://www.youtube.com/user/pondytourism" target="_blank"><img src="http://www.pondytourism.in/images/youtube.png"></a> <a href="https://plus.google.com/u/0/+PudhucherryTourismDepartmentofficial/about" target="_blank"><img src="http://www.pondytourism.in/images/google.png"></a> <a href="http://www.pinterest.com/pondytourism/" target="_blank"><img src="http://www.pondytourism.in/images/pinterest.png"></a> <br><br>
					Get the latest news <br> <input type="text" class="subs-txt"> <button class="subs-btn">Subscribe </button></div> </div>
            <div class="col-lg-4 col-md-4 col-sm-4  col-xs-12 cpy_rgt">
            	<a href="http://tourism.puducherry.gov.in/" target="_blank">Department of Tourism</a>, Government of Puducherry<br><br>
                designed & developed by <br><a href="http://www.theredhash.com/" target="_blank"><img src="http://www.pondytourism.in/images/theredhashlogo.png"></a>
            </div>
            </div>
        </div>         
                
    </div> 
    
    <script src="http://www.pondytourism.in/js/jquery-1.11.0.min.js"></script>
    <script src="http://www.pondytourism.in/js/bootstrap.min.js"></script>
    <script src="http://www.pondytourism.in/js/custom-functions.js"></script>
	<script src="../ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://www.pondytourism.in/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <link href="http://www.pondytourism.in/css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
    <script>
		(function($){
			$(window).load(function(){
				$(".about-content-scroller").mCustomScrollbar();
			});
			
			// <div class="col-xs-3"><a href="#"><img src="images/events-thum-1.jpg" class="img-responsive img-fullwidth"></a></div>
			//url(images/about_t1_b1.jpg) no-repeat top center;
			$('.col-xs-3 a .img-responsive').off('click').on('click',function(){
			
			
			//console.log($(this).attr('onclc'));
			//console.log($('.about-block-img').attr('class').split(" ")[1].trim());
			$('.about-block-img').removeClass($('.about-block-img').attr('class').split(" ")[1].trim());
			//console.log($('.about-block-img').attr('class'));
			$('.about-block-img').addClass($(this).attr('onclc'));
			});
			
		})(jQuery);

   	
		$.fn.equalizeHeights = function(){
		return this.height( Math.max.apply(this, $(this).map(function(i,e){ return $(e).height() }).get() ) )
		}
		$('.about-block-text, .about-block-img').equalizeHeights();
		
    </script>
    <script>

// tourpondy analystics 

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47863969-1', 'auto');
  ga('create', 'UA-55159139-1', 'auto', {'name': 'newTracker'}); 
  
  ga('send', 'pageview');
  ga('newTracker.send', 'pageview');

</script>

  
	<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 962262934;
	var google_custom_params = window.google_tag_params;
	var google_remarketing_only = true;
	/* ]]> */
	</script>
	<script type="text/javascript" src="../www.googleadservices.com/pagead/f.txt">
	</script>
	<noscript>
	<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/962262934/?value=0&amp;guid=ON&amp;script=0"/>
	</div>
	</noscript>
  </body>

<!-- Mirrored from www.pondytourism.in/about-us.php by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 24 Sep 2019 09:35:27 GMT -->
</html>