<!DOCTYPE html>
<html>
  
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <title>The contact information for the Dept. of Tourism, Govt. of Puducherry</title>
	<meta name="Description" content="Government of Puducherry, Department of Tourism official contact information. Get in touch for more information." />
	<meta name="Keywords" content="Tourism, Information, Contact, Puducherry, Pondicherry, Pondy, Department" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://www.pondytourism.in/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="http://www.pondytourism.in/css/custom-style.css" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="http://www.pondytourism.in/favicon.ico" type="image/x-icon">
    <link rel="icon" href="http://www.pondytourism.in/favicon.ico" type="image/x-icon">
	
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">

function initialize()
{
    var latlng1 = new google.maps.LatLng(11.92912,79.835023);
	//var latlng2 = new google.maps.LatLng(11.923532,79.827506);
	var latlng2 = new google.maps.LatLng(11.928252,79.834707);
	var latlng3 = new google.maps.LatLng(11.923019,79.828635);
    
	var myOptions =
    {
        zoom: 17,
        center: latlng1,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var myOptions2 =
    {
        zoom: 17,
        center: latlng2,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var myOptions3 =
    {
        zoom: 17,
        center: latlng3,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
	
    var map = new google.maps.Map(document.getElementById("contact_map"), myOptions);
    var map2 = new google.maps.Map(document.getElementById("contact_map_2"), myOptions2);
    var map3 = new google.maps.Map(document.getElementById("contact_map_3"), myOptions3);

	var marker = new google.maps.Marker({position: latlng1,map: map});
	var marker2 = new google.maps.Marker({position: latlng2,map: map2});
	var marker3 = new google.maps.Marker({position: latlng3,map: map3});
	
}

</script>
	
	
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	
    <style type="text/css">
	
		a.readmore-js-toggle { color:#d92027; font-style:italic; text-decoration:underline; margin:0 0 15px 15px; }
	
	</style>
  <style>

a.flight-time:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: url(http://www.pondytourism.in/images/flight.png) no-repeat;
    width: 100px;
    height: 40px;
    background-size: 80%;
}
a.flight-time span{
    visibility: hidden;
}

</style>  
  </head>
  
  <body class="contactus" onLoad="initialize()">  
        <div class="container-fluid"> 
        <div class="visible-xs visible-md visible-sm padding-t-10" id="logo3"> <center> <a href="http://www.pondytourism.in/index.php"><img src="http://www.pondytourism.in/images/pondicherry-logo.png"></a> </center> </div>
    	<div class="row padding-t-10 topnav">
        	<div class="hidden-sm hidden-xs hidden-md col-lg-1" id="logo2"> <center><a href="http://tourism.puducherry.gov.in/"><img src="http://www.pondytourism.in/images/emblem2.png"></a></center>  </div>
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">  
            
            	<!-- Static navbar --> 
                      <div class="navbar navbar-default padding-0" role="navigation">
                        <div class="container">
                          <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                            </button>
                            <!--<a class="navbar-brand" href="#"></a>-->
                          </div> 
                          <div class="navbar-collapse collapse">
                           <!-- <ul class="nav navbar-nav"> 
                                <li> <a href="about-us.php"> About	</a> </li>						
                                <li> <a href="iconics.php"> Iconic </a></li>										
                                <li> <a href="events.php"> Events </a></li>							
                                <li> <a href="fairs-and-festivals.php"> Festivals	</a></li>							
                                <li> <a href="experience.php"> Experience </a></li>							
                                <li> <a href="nearby.php"> Nearby </a></li>				
                                <li> <a href="tour-packages.php"> Tours </a></li>						
                                <li> <a href="directory.php"> Directory </a></li>						
                                <li> <a href="gallery-photo.php"> Gallery </a></li>
                                <li> <a href="http://tourism.puducherry.gov.in/" target="_blank"> Official </a> </li>
								<li> <a href="trip-planner.php"> Trip Planner </a></li> 
								<li> <a href="http://www.pondytourism.in/flight-timings.php" target="_blank"> <img src="images/flight.png" style="margin-top: -30px; width:150px;"> </a></li> 
                            </ul>    -->
<ul class="nav navbar-nav"> 
<li> <a href="about-us.html"> About</a></li>						
<li> <a href="http://www.pondytourism.in/iconics.php"> Iconic </a></li>									
<li> <a href="http://www.pondytourism.in/events.php"> Events </a></li>							
<li> <a href="http://www.pondytourism.in/fairs-and-festivals.php"> Festivals</a></li>							
<li> <a href="http://www.pondytourism.in/experience.php"> Experience </a></li>							
<li> <a href="http://www.pondytourism.in/nearby.php"> Nearby </a></li>				
<li> <a href="http://www.pondytourism.in/tour-packages.php"> Tours </a></li>						
<li> <a href="http://www.pondytourism.in/directory.php"> Directory </a></li>						
<li> <a href="http://www.pondytourism.in/gallery-photo.php"> Gallery </a></li>
<li> <a href="http://www.pondytourism.in/trip-planner.php"> Trip Planner </a></li> 
<li class="travel-tip"> <a href="http://www.pondytourism.in/learn-tamil.php" target="_blank">Travel & Tips </a></li>
<li> <a class="flight-time" href="http://www.pondytourism.in/flight-timings.php" target="_blank"><span>Flight Timing </span></a></li>  
</ul>         
                          </div><!--/.nav-collapse -->
                        </div><!--/.container-fluid -->
                      </div>
                      
            
            </div>
        	<div class="hidden-sm hidden-xs hidden-md col-lg-1" id="logo2"> <center> <a href="http://www.pondytourism.in/index.php" target="_blank"><img src="http://www.pondytourism.in/images/pondicherry-logo3.png"></a> </center> </div>
            
        </div> <div class="visible-lg visible-md"><a href="#" id="menu-handle2"><img src="http://www.pondytourism.in/images/menu.jpg" class="off" style="display:none;"></a><a href="#" id="showmenu2"><img src="http://www.pondytourism.in/images/menu-on.jpg" class="on"></a></div>       
		
        <div class="row padding-t-10 faq-content">
			<div class="col-lg-12">
            		
                <h2> Contact Us </h2>    
                
                <div class="row padding-t-50 col-md-offset-2">	
                	
                    <div class="col-lg-6">
                    <strong>Tourism Information Centre,</strong> <br>
                    40, Goubert Avenue <br>
                    Pondicherry 605 001, India <br>
                    Tel: +91 413 2339497 <br>
                    Email: tourism.pon@nic.in <br> <br>
                    </div>
                    
                    <div class="col-lg-6">
						<div id="contact_map" class="contactpage_map" ></div>
					</div>
                    
                </div>
                
                <div class="row padding-t-50 col-md-offset-2">
                    
                    <div class="col-lg-6">
                    <strong>Puducherry Tourism Development Corporation (PTDC),</strong> <br>
                    Old Court Goubert Avenue, <br>
                    Pondicherry 605 001. <br>
                    Ph: +91 413 2353532 <br>
                    Fax: +91 413 2356444 <br>
                    Email: wowpondy@gmail.com <br><br>
                    </div>
                    
                    <div class="col-lg-6">
						<div id="contact_map_2" class="contactpage_map" ></div> 						
					</div>
                    
                </div>
                
                <div class="row padding-t-50 col-md-offset-2">
                   	
                    <div class="col-lg-6">
                    <strong>Department of Tourism,</strong> <br>
                    Dr. Ambedkar Salai, <br>
                    Opp: Indira Gandhi Sports Complex <br>
                    Pondicherry 605 001. <br>
                    Ph: +91 413 2358570, 73, 76 <br>
                    Fax: +91 413 2358572 <br>
                    Email: tourism.pon@nic.in, pondytourism@gmail.com <br><br>
                    </div>
                    
                    <div class="col-lg-6">
						<div id="contact_map_3" class="contactpage_map" ></div> 						
					</div>
                    
                </div>
                
            </div>        	             
        </div>
        
        <div class="row footer">
        	<div class="container-fluid footer-bg padding-t-50 colorit-grey">
            <div class="col-lg-4 col-md-4 col-sm-4  col-xs-12 padding-b-10"> 
            	<a href="http://www.pondytourism.in/interactive-map/index.html" target='_blank'>Interactive Map</a> | <a href="http://www.pondytourism.in/media.php">Media</a> | <a href="contact-us.html">Contact</a> | <a href="http://www.pondytourism.in/travel-tips.php">Tips</a> | <a href="faq.html">FAQ</a> | <a href="feedback.html">Feedback</a> | <a href="http://www.pondytourism.in/sitemap.php">Sitemap</a>
				
				<br><br>
				
				<!-- Histats.com  START  (standard)
<script type="text/javascript">document.write(unescape("%3Cscript src=%27http://s10.histats.com/js15.js%27 type=%27text/javascript%27%3E%3C/script%3E"));</script>
<script  type="text/javascript" >
try {Histats.start(1,2895211,4,137,112,33,"00000010");
Histats.track_hits();} catch(err){};
</script>
<noscript><img  src="http://sstatic1.histats.com/0.gif?2895211&101" alt="web statistics" border="0"></noscript>-->
<!-- Histats.com  END  -->
            <span style='background-color:#edebec; border:1px solid #231f20; padding:3px 6px;'>Visitors Count:&nbsp;5268573</span>			<!--<a href="http://www.holidayiq.com/states/pondicherry/" target="_blank"><img src="images/holiday-iq-lgo.png"></a>-->
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-b-10"> <div class="padding-t-5 text-center">
	
			<iframe src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpondytourism.in&amp;width=80&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe> <br>
			<a href="https://www.facebook.com/pondytourism.in" target="_blank"><img src="http://www.pondytourism.in/images/fb.png"></a> <a href="https://twitter.com/pondytourism" target="_blank"><img src="http://www.pondytourism.in/images/twitter.png"></a>  <a href="https://www.youtube.com/user/pondytourism" target="_blank"><img src="http://www.pondytourism.in/images/youtube.png"></a> <a href="https://plus.google.com/u/0/+PudhucherryTourismDepartmentofficial/about" target="_blank"><img src="http://www.pondytourism.in/images/google.png"></a> <a href="http://www.pinterest.com/pondytourism/" target="_blank"><img src="http://www.pondytourism.in/images/pinterest.png"></a> <br><br>
					Get the latest news <br> <input type="text" class="subs-txt"> <button class="subs-btn">Subscribe </button></div> </div>
            <div class="col-lg-4 col-md-4 col-sm-4  col-xs-12 cpy_rgt">
            	<a href="http://tourism.puducherry.gov.in/" target="_blank">Department of Tourism</a>, Government of Puducherry<br><br>
                designed & developed by <br><a href="http://www.theredhash.com/" target="_blank"><img src="http://www.pondytourism.in/images/theredhashlogo.png"></a>
            </div>
            </div>
        </div>
        
        
    </div> 
    
    <script src="http://www.pondytourism.in/js/jquery-1.11.0.min.js"></script>
    <script src="http://www.pondytourism.in/js/bootstrap.min.js"></script>
    <script src="http://www.pondytourism.in/js/custom-functions.js"></script>   
	<script>

// tourpondy analystics 

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47863969-1', 'auto');
  ga('create', 'UA-55159139-1', 'auto', {'name': 'newTracker'}); 
  
  ga('send', 'pageview');
  ga('newTracker.send', 'pageview');

</script>

    
  </body>

<!-- Mirrored from www.pondytourism.in/contact-us.php by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 24 Sep 2019 09:35:28 GMT -->
</html>