<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <title>Frequently asked questions about Pondicherry Tourism</title>
	<meta name="Description" content="FAQ about places to visit, place to stay, things to do in Pondicherry & more topics. Most of your questions are answered right here." />
	<meta name="Keywords" content="FAQ, Pondy, Pondicherry, Puducherry, Weather, Dress Code, Climate, Monsoon, Best Time, Travel" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://www.pondytourism.in/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="http://www.pondytourism.in/css/custom-style.css" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="http://www.pondytourism.in/favicon.ico" type="image/x-icon">
    <link rel="icon" href="http://www.pondytourism.in/favicon.ico" type="image/x-icon">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <style type="text/css">
	
		a.readmore-js-toggle { color:#d92027; font-style:italic; text-decoration:underline; margin:0 0 15px 15px; }
	
	</style>
    <style>

a.flight-time:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: url(http://www.pondytourism.in/images/flight.png) no-repeat;
    width: 100px;
    height: 40px;
    background-size: 80%;
}
a.flight-time span{
    visibility: hidden;
}

</style>
  </head>
  
  <body class="faq">  
        <div class="container-fluid"> 
        <div class="visible-xs visible-md visible-sm padding-t-10" id="logo3"> <center> <a href="http://www.pondytourism.in/index.php"><img src="http://www.pondytourism.in/images/pondicherry-logo.png"></a> </center> </div>
    	<div class="row padding-t-10 topnav">
        	<div class="hidden-sm hidden-xs hidden-md col-lg-1" id="logo2"> <center><a href="http://tourism.puducherry.gov.in/"><img src="http://www.pondytourism.in/images/emblem2.png"></a></center>  </div>
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">  
            
            	<!-- Static navbar --> 
                      <div class="navbar navbar-default padding-0" role="navigation">
                        <div class="container">
                          <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                            </button>
                            <!--<a class="navbar-brand" href="#"></a>-->
                          </div> 
                          <div class="navbar-collapse collapse">
                           <!-- <ul class="nav navbar-nav"> 
                                <li> <a href="about-us.php"> About	</a> </li>						
                                <li> <a href="iconics.php"> Iconic </a></li>										
                                <li> <a href="events.php"> Events </a></li>							
                                <li> <a href="fairs-and-festivals.php"> Festivals	</a></li>							
                                <li> <a href="experience.php"> Experience </a></li>							
                                <li> <a href="nearby.php"> Nearby </a></li>				
                                <li> <a href="tour-packages.php"> Tours </a></li>						
                                <li> <a href="directory.php"> Directory </a></li>						
                                <li> <a href="gallery-photo.php"> Gallery </a></li>
                                <li> <a href="http://tourism.pondicherry.gov.in" target="_blank"> Official </a> </li>
								<li> <a href="trip-planner.php"> Trip Planner </a></li>
								<li> <a href="http://www.pondytourism.in/flight-timings.php" target="_blank"> <img src="images/flight.png" style="margin-top: -30px; width:150px;"> </a></li>  								 
                            </ul> -->
<ul class="nav navbar-nav"> 
<li> <a href="about-us.html"> About</a></li>						
<li> <a href="http://www.pondytourism.in/iconics.php"> Iconic </a></li>									
<li> <a href="http://www.pondytourism.in/events.php"> Events </a></li>							
<li> <a href="http://www.pondytourism.in/fairs-and-festivals.php"> Festivals</a></li>							
<li> <a href="http://www.pondytourism.in/experience.php"> Experience </a></li>							
<li> <a href="http://www.pondytourism.in/nearby.php"> Nearby </a></li>				
<li> <a href="http://www.pondytourism.in/tour-packages.php"> Tours </a></li>						
<li> <a href="http://www.pondytourism.in/directory.php"> Directory </a></li>						
<li> <a href="http://www.pondytourism.in/gallery-photo.php"> Gallery </a></li>
<li> <a href="http://www.pondytourism.in/trip-planner.php"> Trip Planner </a></li> 
<li class="travel-tip"> <a href="http://www.pondytourism.in/learn-tamil.php" target="_blank">Travel & Tips </a></li>
<li> <a class="flight-time" href="http://www.pondytourism.in/flight-timings.php" target="_blank"><span>Flight Timing </span></a></li>  
</ul>            
                          </div><!--/.nav-collapse -->
                        </div><!--/.container-fluid -->
                      </div>
                      
            
            </div>
        	<div class="hidden-sm hidden-xs hidden-md col-lg-1" id="logo2"> <center> <a href="http://www.pondytourism.in/index.php" target="_blank"><img src="http://www.pondytourism.in/images/pondicherry-logo3.png"></a> </center> </div>
            
        </div> <div class="visible-lg visible-md"><a href="#" id="menu-handle2"><img src="http://www.pondytourism.in/images/menu.jpg" class="off" style="display:none;"></a><a href="#" id="showmenu2"><img src="http://www.pondytourism.in/images/menu-on.jpg" class="on"></a></div>       
		
        <div class="row padding-t-10 faq-content">
			<div class="col-lg-12">
            		
                <h2> Frenquently Asked Questions </h2>    
                
            	<dl id="faqs">
                  <dt>WHAT ARE THE HEALTH PRECAUTIONS FOR TRAVELERS TO INDIA?</dt>
                  <dd>India is a tropical country and many tropical diseases are endemic. The important ones include Cholera, Dengue fever, Amoebic and Shigella dysentery, Hepatitis, Malaria, Meningitis, Typhoid, Tuberculosis and Leprosy. Some of these pose a major health hazard to the passing tourist.
<br><br>
It is worthwhile to get vaccinations and immunizations against the following diseases prior travelling to India: Tetanus and Diphtheria, Polio, Typhoid, Hepatitis A and B, Meningococcal meningitis, TB, Rabies and Japanese B encephalitis. Also, record all vaccinations in the International Health Certificate available at your local Physician or Health department. 
<br><br>
International tourists should carry their Yellow Fever Vaccination Certificate conforming to International Health Regulations, if they originate or are transiting through countries where Yellow Fever is endemic. International travellers / tourists originating from the USA, UK and Canada do not require any mandatory vaccinations. 
<br><br>
The International Health Certificate is not normally asked by immigration officials; however it is better to carry one. It may be of immense help in case of a medical emergency.
To avoid Malaria and Dengue fever, carrying mosquito repellents, nets and using sprays against insects in rooms is usually sufficient. A first aid kit carrying adhesive bandages, thermometer, water-purification tablets, antibiotics, antiseptic creams and mosquito repellents is recommended of every tourist. 
<br><br>
It is recommended to stick to a vegetarian diet as it is an excellent way of preventing gastrointestinal diseases. But if you should eat meat, please make sure that it is properly and completely cooked. Avoid eating food from roadside stalls, pork products, fried food and foods that are very oily. Foods in reputed restaurants are usually safe as they are required to maintain good health standards.
<br><br>
Drinking only mineral / bottled or boiled water is highly recommended to prevent gastrointestinal diseases.
</dd>
                 	<hr>
                  <dt>WHEN IS THE BEST TIME TO VISIT PUDUCHERRY? </dt>
                  <dd>The best time to visit Puducherry is between January to March and August to October.</dd>
                 	<hr>
                  <dt>WHERE CAN I GET MORE INFORMATION ON PUDUCHERRY?</dt>
                  <dd>Check out the various pages in the whole site to get information on the various aspects of Puducherry.</dd>
                  	<hr>
                  <dt>WHAT ARE THEDIFFERENT MODES OF TRANSPORTATION AVAILABLE FORTRAVELLING TO PUDUCHERRY?</dt>
                  <dd>Puducherry is approachable by all means of transportation. Check out these pages for more details. <br><br>
<strong>Air travel to Puducherry</strong> <br>
The international gateway for this part of India is Chennai. Puducherry has limited services to Chennai, Tirupathi and Bangalore.
<br><br>
<strong>Road travel to Puducherry</strong> <br>
Puducherry is well connected by roads to major neighbouring cities like Chennai, Bangalore and Tiruchirapalli with good regular bus services.
<br><br>
<strong>Train travel to Puducherry</strong> <br>
Puducherry has the limited railway line Connected only to Villupuram and Chennai.
</dd>
                  	<hr>
                  <dt>WHERE CAN I GET MAPS OF PUDUCHERRY?</dt>
                  <dd>Check out the various pages for updated maps for all Puducherry's tourist attractions.</dd>
                  	<hr> 
                  <dt>WHAT SHOULD I WEAR IN PUDUCHERRY?</dt>
                  <dd>Clean and decent clothes, preferably cotton is suitable as Puducherry has a tropical climate. It is always good to use your discretion.  The preferred clothes for men are pants and shirts, and women mostly wear either Indian clothes, pants and skirts or pants and blouses. Please avoid wearing beachwear in the city as it will invite curious and unwanted attention. Nudity is banned in Puducherry. </dd>
                  	<hr> 
                  <dt>WHAT SHOULD I CARRY? </dt>
                  <dd>You can carry the usual personal effects along with clothes. Make sure you have the appropriate voltage (220V in India) personal accessories while travelling. Carry prescriptions of medications and glasses. Make sure you have the International driver’s license if you wish to drive. Carry enough local currency – worth $200 at least – at all times to pay for local services. Make sure your documents including cash, passport and credit cards and tickets are secure with you at all times.</dd>
                  	<hr>   
                  <dt>WHAT ABOUT DRIVING IN PUDUCHERRY?</dt>
                  <dd>Like the rest of India and the UK, vehicles travel on the left side of the road. An International Drivers License is required.</dd>
                  	<hr> 
                  <dt>HOW SHOULD I CARRY MONEY?</dt>
                  <dd>Preferably Travellers’ Cheques and cash in Indian currency up to $200 at all times to pay for local services. Credit cards are also widely accepted in Puducherry and India today.    </dd>
                  	<hr> 
                  <dt>ARE CREDIT CARDS SAFE AND USEFUL TO CARRY?</dt>
                  <dd>Yes. Using credit cards to withdraw cash may be available at only a few places in Puducherry, so keep enough local cash to get along.</dd>
                  	<hr> 
                  <dt>WHAT CURRENCY IS USED IN INDIA?</dt>
                  <dd>The Indian currency is called Rupees. One rupee is made of 100 naya paisa. A rough estimate is 1$ = 60 Indian rupees.</dd>
                  	<hr> 
                  <dt>WHAT IS THE LANGUAGE OF PUDUCHERRY? IS ENGLISH EASILY UNDERSTOOD?</dt>
                  <dd>Puducherryians proudly speak Tamil and it is one of the Puducherry's official languages. There is a lot of variation in the way it is spoken among different communities and locations in Puducherry which was partly due to history. English is a widely spoken and understood language with an accent variation depending on the educational background of the speaker and the area of origin. Apart from Tamil and English, French is considered to be one of the official languages.</dd>
                  	<hr> 
                  <dt>WHAT IS THE COOLEST TIME TO VISIT INDIA?</dt>
                  <dd>The coolest weather lasts from November to mid-March, with cool fresh mornings and evenings during the end of the year to dry sunny days nearing April.</dd>
                  	<hr> 
                  <dt>I HEAR INDIANS ARE A MORE CONSERVATIVE LOT ESPECIALLY COMPARED TO PEOPLE IN WESTERN COUNTRIES.   WHAT KIND OF CLOTHES WOULD BE ACCEPTABLE HERE?</dt>
                  <dd>Shorts, minis and tank tops are unadvisable unless you're on a beach. But again, in small towns and cities people may tend to stare if you expose too much skin. Safe clothing would be trousers, capris, skirts, tops and shirts. India has good cotton wear which is trendy and affordable. Buy yourself some Indian clothes. Women could try wearing a salwar-kameez which is very cool and comfortable and could even improve the attitude of people towards them.</dd>
                  	<hr> 
                  <dt>WHAT IS THE BEST THING TO DO IF PESTERED BY BEGGARS AND STREET URCHINS?</dt>
                  <dd>Well, you can start by ignoring them completely and if they get too persistent, give them a stern look. If you must give them something, let it be not more than 1 to 2 rupees.</dd>
                  	<hr> 
                  <dt>WHAT ARE THE IMPORTANT TAMIL WORDS I SHOULD KNOW WHEN I'M IN PUDUCHERRY?</dt>
                  <dd>Well, there are many phrases and words in Tamil that would be useful. We would advise you to look at our “Learn Tamil' page in our About Pondicherry tab. </dd>
                  	<hr> 
                  <dt>CAN I HIRE A MOBILE PHONE IN INDIA?</dt>
                  <dd>You can pick up a mobile phone connection from most departmental stores in Puducherry and they are even available at small roadside stores. The service provided by these private companies is on par with the best in the world.  </dd>
                  	<hr> 
                  <dt>HOW SAFE IS DRINKING WATER IN PUDUCHERRY?</dt>
                  <dd>If you are from a foreign country, you may not be used to the drinking water here. Hence we suggest you to pick up a bottle of mineral water which is cheap and widely available, usually provided in flasks in hotel rooms. Order the same when you are at a restaurant. As far as possible, avoid drinking any kind of water or juices from roadside carts and vendors.  </dd>
                  	<hr> 
                  <dt>HOW SHOULD I TIP WAITERS AT RESTAURANTS / HOTELS?</dt>
                  <dd>In tourist restaurants or hotels a 10% service charge is often added to the bills, in which case there is no need to tip. In smaller places, where tipping is optional, you need to tip only a few rupees and not a percentage of your bill. It is customary to tip waiters, porters, guides and drivers. </dd>
                  	<hr> 
                  <dt>HOW SAFE IS IT TO EAT NON-VEGETARIAN FOOD IN PUDUCHERRY?</dt>
                  <dd>India, being primarily a Hindu country, beef is rarely served. Pork is also not easily available. Eat non-vegetarian food only in good restaurants. What you get in smaller places is generally of dubious quality though tastes quite yummy, thanks to concoctions of Indian spices and masalas.  </dd>
                  	<hr> 
                  <dt>ARE THERE PUBS AND DISCOTHEQUES IN PUDUCHERRY?</dt>
                  <dd>Yes, definitely.</dd>
                  	<hr> 
                  <dt>HOW BEST CAN I GET THE FLAVOUR OF A PARTICULAR DESTINATION WHEN I VISIT PUDUCHERRY?</dt>
                  <dd>We would love you to try using the local transport. But this is not advisable to travel in crowded buses. However, do take a ride or two in a local bus or auto whenever you have the opportunity. It would be better to take an Indian friend along.
<br><br>
Try and interact more with the locals of the area. There will be a language problem but many people in small towns are quite fluent in English including a few other foreign languages.  
<br><br>
Buy a handicraft or souvenir which is typical of the place. It would be better to wear a piece of clothing belonging to the place you are visiting; e.g. a Cotton Lungi in Puducherry, a Saree for ladies. By doing so, you would blend in well with the local people.
</dd>
                  	<hr> 
                </dl>
                
            </div>        	             
        </div>
        
        <div class="row footer">
        	<div class="container-fluid footer-bg padding-t-50 colorit-grey">
            <div class="col-lg-4 col-md-4 col-sm-4  col-xs-12 padding-b-10"> 
            	<a href="http://www.pondytourism.in/interactive-map/index.html" target='_blank'>Interactive Map</a> | <a href="http://www.pondytourism.in/media.php">Media</a> | <a href="contact-us.html">Contact</a> | <a href="http://www.pondytourism.in/travel-tips.php">Tips</a> | <a href="faq.html">FAQ</a> | <a href="feedback.html">Feedback</a> | <a href="http://www.pondytourism.in/sitemap.php">Sitemap</a>
				
				<br><br>
				
				<!-- Histats.com  START  (standard)
<script type="text/javascript">document.write(unescape("%3Cscript src=%27http://s10.histats.com/js15.js%27 type=%27text/javascript%27%3E%3C/script%3E"));</script>
<script  type="text/javascript" >
try {Histats.start(1,2895211,4,137,112,33,"00000010");
Histats.track_hits();} catch(err){};
</script>
<noscript><img  src="http://sstatic1.histats.com/0.gif?2895211&101" alt="web statistics" border="0"></noscript>-->
<!-- Histats.com  END  -->
            <span style='background-color:#edebec; border:1px solid #231f20; padding:3px 6px;'>Visitors Count:&nbsp;5268572</span>			<!--<a href="http://www.holidayiq.com/states/pondicherry/" target="_blank"><img src="images/holiday-iq-lgo.png"></a>-->
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-b-10"> <div class="padding-t-5 text-center cpy_rgt1">
	
			<iframe src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpondytourism.in&amp;width=80&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe> <br>
			<a href="https://www.facebook.com/pondytourism.in" target="_blank"><img src="http://www.pondytourism.in/images/fb.png"></a> <a href="https://twitter.com/pondytourism" target="_blank"><img src="http://www.pondytourism.in/images/twitter.png"></a>  <a href="https://www.youtube.com/user/pondytourism" target="_blank"><img src="http://www.pondytourism.in/images/youtube.png"></a> <a href="https://plus.google.com/u/0/+PudhucherryTourismDepartmentofficial/about" target="_blank"><img src="http://www.pondytourism.in/images/google.png"></a> <a href="http://www.pinterest.com/pondytourism/" target="_blank"><img src="http://www.pondytourism.in/images/pinterest.png"></a> <br><br>
					Get the latest news <br> <input type="text" class="subs-txt"> <button class="subs-btn">Subscribe </button></div> </div>
            <div class="col-lg-4 col-md-4 col-sm-4  col-xs-12 text-right">
            	<a href="http://tourism.puducherry.gov.in/" target="_blank">Department of Tourism</a>, Government of Puducherry<br><br>
                designed & developed by <br><a href="http://www.theredhash.com/" target="_blank"><img src="http://www.pondytourism.in/images/theredhashlogo.png"></a>
            </div>
            </div>
        </div> 
        
        
    </div> 
    
    <script src="http://www.pondytourism.in/js/jquery-1.11.0.min.js"></script>
    <script src="http://www.pondytourism.in/js/bootstrap.min.js"></script>
    <script src="http://www.pondytourism.in/js/custom-functions.js"></script>
   
   	<script type="text/javascript">
	
		/*$("#faqs dd").hide();
		$("#faqs dt").click(function () {
			$("#faqs dd").hide(500);
			$(this).next("#faqs dd").slideToggle(500);
			$(this).toggleClass("expanded");
		});*/
		
		$(document).ready(function() {
			
			$('#faqs dt').click(function() {
				$('#faqs dd').slideUp("normal");
				$('#faqs dt').removeClass("expanded");
				if($(this).next().is(":hidden") == true) {
				$(this).next().slideDown("normal");
				$(this).addClass("expanded");
				} 
				});
			$('#faqs dd').hide();	
			
		});
		
	</script>
    <script>

// tourpondy analystics 

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47863969-1', 'auto');
  ga('create', 'UA-55159139-1', 'auto', {'name': 'newTracker'}); 
  
  ga('send', 'pageview');
  ga('newTracker.send', 'pageview');

</script>

	<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 962262934;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="../www.googleadservices.com/pagead/f.txt">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/962262934/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
  </body>

<!-- Mirrored from www.pondytourism.in/faq.php by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 24 Sep 2019 09:35:27 GMT -->
</html>