<!DOCTYPE html>
<html>
  
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
	<title>Feedback – Please send your valuable feedback to us</title>
	<meta name="Description" content="Feedback – Please fill the form to send your valuable feedbacks and message to us. Easy way to reach us." />
	<meta name="Keywords" content="Events, Place of Interest, Museum Timings, Opening Time, Closing Time, Schedule, Holidays" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://www.pondytourism.in/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="http://www.pondytourism.in/css/custom-style.css" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="http://www.pondytourism.in/favicon.ico" type="image/x-icon">
    <link rel="icon" href="http://www.pondytourism.in/favicon.ico" type="image/x-icon">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <style type="text/css">
	
		a.readmore-js-toggle { color:#d92027; font-style:italic; text-decoration:underline; margin:0 0 15px 15px; }
	
	</style>
       <script type="text/javascript" src="http://www.pondytourism.in/js/formvalidation.js"></script>
  <style>

a.flight-time:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: url(http://www.pondytourism.in/images/flight.png) no-repeat;
    width: 100px;
    height: 40px;
    background-size: 80%;
}
a.flight-time span{
    visibility: hidden;
}

</style>  
  </head>
  
  <body class="feedback">  
        <div class="container-fluid"> 
        <div class="visible-xs visible-md visible-sm padding-t-10" id="logo3"> <center> <a href="http://www.pondytourism.in/index.php"><img src="http://www.pondytourism.in/images/pondicherry-logo.png"></a> </center> </div>
    	<div class="row padding-t-10 topnav">
        	<div class="hidden-sm hidden-xs hidden-md col-lg-1" id="logo2"> <center><a href="http://tourism.puducherry.gov.in/"><img src="http://www.pondytourism.in/images/emblem2.png"></a></center>  </div>
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">  
            
            	<!-- Static navbar --> 
                      <div class="navbar navbar-default padding-0" role="navigation">
                        <div class="container">
                          <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                            </button>
                            <!--<a class="navbar-brand" href="#"></a>-->
                          </div> 
                          <div class="navbar-collapse collapse">
                          <!--  <ul class="nav navbar-nav"> 
                                <li> <a href="about-us.php"> About	</a> </li>						
                                <li> <a href="iconics.php"> Iconic </a></li>										
                                <li> <a href="events.php"> Events </a></li>							
                                <li> <a href="fairs-and-festivals.php"> Festivals	</a></li>							
                                <li> <a href="experience.php"> Experience </a></li>							
                                <li> <a href="nearby.php"> Nearby </a></li>				
                                <li> <a href="tour-packages.php"> Tours </a></li>						
                                <li> <a href="directory.php"> Directory </a></li>						
                                <li> <a href="gallery-photo.php"> Gallery </a></li>
                                 <li> <a href="http://tourism.pondicherry.gov.in" target="_blank"> Official </a> </li>
								<li> <a href="trip-planner.php"> Trip Planner </a></li> 
								<li> <a href="http://www.pondytourism.in/flight-timings.php" target="_blank"> <img src="images/flight.png" style="margin-top: -30px; width:150px;"> </a></li> 
                            </ul>  -->
<ul class="nav navbar-nav"> 
<li> <a href="about-us.html"> About</a></li>						
<li> <a href="http://www.pondytourism.in/iconics.php"> Iconic </a></li>									
<li> <a href="http://www.pondytourism.in/events.php"> Events </a></li>							
<li> <a href="http://www.pondytourism.in/fairs-and-festivals.php"> Festivals</a></li>							
<li> <a href="http://www.pondytourism.in/experience.php"> Experience </a></li>							
<li> <a href="http://www.pondytourism.in/nearby.php"> Nearby </a></li>				
<li> <a href="http://www.pondytourism.in/tour-packages.php"> Tours </a></li>						
<li> <a href="http://www.pondytourism.in/directory.php"> Directory </a></li>						
<li> <a href="http://www.pondytourism.in/gallery-photo.php"> Gallery </a></li>
<li> <a href="http://www.pondytourism.in/trip-planner.php"> Trip Planner </a></li> 
<li class="travel-tip"> <a href="http://www.pondytourism.in/learn-tamil.php" target="_blank">Travel & Tips </a></li>
<li> <a class="flight-time" href="http://www.pondytourism.in/flight-timings.php" target="_blank"><span>Flight Timing </span></a></li>  
</ul>           
                          </div><!--/.nav-collapse -->
                        </div><!--/.container-fluid -->
                      </div>
                      
            
            </div>
        	<div class="hidden-sm hidden-xs hidden-md col-lg-1" id="logo2"> <center> <a href="http://www.pondytourism.in/index.php" target="_blank"><img src="http://www.pondytourism.in/images/pondicherry-logo3.png"></a> </center> </div>
            
        </div> <div class="visible-lg visible-md"><a href="#" id="menu-handle2"><img src="http://www.pondytourism.in/images/menu.jpg" class="off" style="display:none;"></a><a href="#" id="showmenu2"><img src="http://www.pondytourism.in/images/menu-on.jpg" class="on"></a></div>       
		
        <div class="row padding-t-10 site-map">
			<div class="col-xs-12">           		
                <h2> Feedback </h2> <br><br>
            </div> 
            
                
                  <div class="col-md-6 col-xs-10 col-md-offset-2  col-xs-offset-1">
                    <div class="well well-sm">
                      <form class="form-horizontal" action="http://www.pondytourism.in/val.php" method="post" onSubmit="return validate()">
                      <fieldset>
                        <legend class="text-center">Please fill your feedback</legend>
						 <p class="text-center" style="color:red; font-size:16px;">All Fields are mandatory</p>
                        <!-- Name input-->
                        <div class="form-group">
                          <label class="col-md-3 control-label" for="name">Name*</label>
                          <div class="col-md-9">
                            <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
                          </div>
                        </div>
                
                        <!-- Email input-->
                        <div class="form-group">
                          <label class="col-md-3 control-label" for="email">Your E-mail*</label>
                          <div class="col-md-9">
                            <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
                          </div>
                        </div>       
                        
                        <div class="form-group">
                          <label class="col-md-3 control-label" for="mobile">Your Mobile Number*</label>
                          <div class="col-md-9">
                            <input id="mobile" name="mobile" type="text" placeholder="Your Mobile Number" class="form-control">
                          </div>
                        </div>                 
               
                        <!-- Message body -->
                        <div class="form-group">
                          <label class="col-md-3 control-label" for="message">Your message*</label>
                          <div class="col-md-9">
                            <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
                          </div>
                        </div>
                
                        <!-- Form actions -->
                        <div class="form-group">
                          <div class="col-md-12 text-right">
						  Enter Image Text*
<input name="captcha" type="text" id ="contact">
<img src="http://www.pondytourism.in/captcha.php" /><br><br>
                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                          </div>
                        </div>
                      </fieldset>
                      </form>
                    </div>
                  </div>
              

            
            
                   	             
        </div>
        
        <div class="row footer">
        	<div class="container-fluid footer-bg padding-t-50 colorit-grey">
            <div class="col-lg-4 col-md-4 col-sm-4  col-xs-12 padding-b-10"> 
            	<a href="http://www.pondytourism.in/interactive-map/index.html" target='_blank'>Interactive Map</a> | <a href="http://www.pondytourism.in/media.php">Media</a> | <a href="contact-us.html">Contact</a> | <a href="http://www.pondytourism.in/travel-tips.php">Tips</a> | <a href="faq.html">FAQ</a> | <a href="feedback.html">Feedback</a> | <a href="http://www.pondytourism.in/sitemap.php">Sitemap</a>
				
				<br><br>
				
				<!-- Histats.com  START  (standard)-->
<!-- Histats.com  START  (standard)
<script type="text/javascript">document.write(unescape("%3Cscript src=%27http://s10.histats.com/js15.js%27 type=%27text/javascript%27%3E%3C/script%3E"));</script>
<script  type="text/javascript" >
try {Histats.start(1,2895211,4,137,112,33,"00000010");
Histats.track_hits();} catch(err){};
</script>
<noscript><img  src="http://sstatic1.histats.com/0.gif?2895211&101" alt="web statistics" border="0"></noscript>-->
<!-- Histats.com  END  -->
            <span style='background-color:#edebec; border:1px solid #231f20; padding:3px 6px;'>Visitors Count:&nbsp;5268571</span>			<!--<a href="http://www.holidayiq.com/states/pondicherry/" target="_blank"><img src="images/holiday-iq-lgo.png"></a>-->
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-b-10"> <div class="padding-t-5 text-center cpy_rgt1">
	
			<iframe src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpondytourism.in&amp;width=80&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe> <br>
			<a href="https://www.facebook.com/pondytourism.in" target="_blank"><img src="http://www.pondytourism.in/images/fb.png"></a> <a href="https://twitter.com/pondytourism" target="_blank"><img src="http://www.pondytourism.in/images/twitter.png"></a>  <a href="https://www.youtube.com/user/pondytourism" target="_blank"><img src="http://www.pondytourism.in/images/youtube.png"></a> <a href="https://plus.google.com/u/0/+PudhucherryTourismDepartmentofficial/about" target="_blank"><img src="http://www.pondytourism.in/images/google.png"></a> <a href="http://www.pinterest.com/pondytourism/" target="_blank"><img src="http://www.pondytourism.in/images/pinterest.png"></a> <br><br>
					Get the latest news <br> <input type="text" class="subs-txt"> <button class="subs-btn">Subscribe </button></div> </div>
            <div class="col-lg-4 col-md-4 col-sm-4  col-xs-12 text-right">
            	<a href="http://tourism.puducherry.gov.in/" target="_blank">Department of Tourism</a>, Government of Puducherry<br><br>
                designed & developed by <br><a href="http://www.theredhash.com/" target="_blank"><img src="http://www.pondytourism.in/images/theredhashlogo.png"></a>
            </div>
            </div>
        </div>
        
        
    </div> 
    
    <script src="http://www.pondytourism.in/js/jquery-1.11.0.min.js"></script>
    <script src="http://www.pondytourism.in/js/bootstrap.min.js"></script>
    <script src="http://www.pondytourism.in/js/custom-functions.js"></script>
   
    <script>

// tourpondy analystics 

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47863969-1', 'auto');
  ga('create', 'UA-55159139-1', 'auto', {'name': 'newTracker'}); 
  
  ga('send', 'pageview');
  ga('newTracker.send', 'pageview');

</script>

	<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 962262934;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="../www.googleadservices.com/pagead/f.txt">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/962262934/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
  </body>

<!-- Mirrored from www.pondytourism.in/feedback.php by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 24 Sep 2019 09:35:27 GMT -->
</html>