{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'nehal/experience.css' %}">
</head>
<body>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <center>
        <img src="/static/nehal/images/experience-title.png">
        <br><br>
    </center>
</div>
<div class="colorbg-white">
    <div class="col-lg-2 col-md-2 visible-lg visible-md">
    </div>
    <div  class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="background-color: white">
        <center> <br>
                	<p> Away from the hustle and bustle of big cities, Puducherry is a quiet little town on the southern coast of India. The unmistakable French connection, the tree lined boulevards, the quaint colonial heritage buildings, the spiritual sceneries, the endless stretches of unspoilt virgin beaches and backwaters and a surprising choice of restaurants serving a melange of cuisines provide a heady mix of experience that draws travellers from near and far to the city. It is the perfect place to come if you want to take the pace of life down a few notches. </p> <br>
				</center>
    </div>
    <div class="col-lg-2 col-md-2 visible-lg visible-md">

    </div>
</div>
<div class="row padding-t-50">
    <div id="grid-exp-content" class="gridalicious">
        <div class="galcolumn" id="item0GPtL7" style="width: 32.9135%; padding-left: 10px; padding-bottom: 10px; float: left; box-sizing: border-box;">
            <div class="item" >
                    <a href=" "><img src="/static/nehal/images/art.jpg" class="img-fullwidth" style="width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;"></a>
                    <h3>Puducherry Art and Craft Village</h3>
                    <p>ADDRESS:
Murungapakkam, (Near Govt. Catering College)Puducherry 605004.
For Details please call at +91 413 2358576
EXPLORE! EXPERIENCE! ENGAGE!Every tourist to Pondy should visit Puducherry Art &amp; Craft Village a premier platform built to...<a href="explore-and-experience-innerpage.php?id=27">Read more</a></p>
                </div>
            <div class="item" >
                    <a href=" "><img src="/static/nehal/images/health.jpeg" class="img-fullwidth" style="width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;"></a>
                    <h3>Health And Wellness</h3>
                    <p>

Pondicherry boasts a good number of general as well as speciality hospitals, testing facilities and labs, as well as many pharmacies across the city. Treatments cost a fraction of what they would in many parts of the Western world. A...<a href="explore-and-experience-innerpage.php?id=27">Read more</a></p>
                </div>
        </div>
         <div class="galcolumn" id="item0GPtL7" style="width: 32.9135%; padding-left: 10px; padding-bottom: 10px; float: left; box-sizing: border-box;">
            <div class="item" >
                    <a href=" "><img src="/static/nehal/images/aqua.jpeg" class="img-fullwidth" style="width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;"></a>
                    <h3>Pondicherry Aqua Tourism</h3>
                    <p>In India, the concept of boat house tourism is well tapped by two states of Kerala and Jammu &amp; Kashmir. While Kerala has scenic backwaters, Kashmir has picturesque lakes to cater to such kind of tourism product. Coastal Pondicherry will now be...<a href="explore-and-experience-innerpage.php?id=27">Read more</a></p>
                </div>
            <div class="item" >
                    <a href=" "><img src="/static/nehal/images/gourmet.jpeg" class="img-fullwidth" style="width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;"></a>
                    <h3>Gourmet</h3>
                    <p>Few things demonstrate Pondicherry's rich historical heritage and diverse contemporary culture the way its cuisine does. Traditional Tamil cuisine is very popular and many eateries serve snack items like idlis and dosas, full thalis and special...<a href="explore-and-experience-innerpage.php?id=27">Read more</a></p>
                </div>
        </div>
         <div class="galcolumn" id="item0GPtL7" style="width: 32.9135%; padding-left: 10px; padding-bottom: 10px; float: left; box-sizing: border-box;">
            <div class="item" >
                    <a href=" "><img src="/static/nehal/images/shopping.jpeg" class="img-fullwidth" style="width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;"></a>
                    <h3>Shopping</h3>
                    <p>Visitors can choose their mementoes from Pondicherry's many specialities - ceramic tableware and ornaments, terracotta toys and trinkets, incense and scented candles, handmade paper lampshades and stationery, Buddha and Ganesh figures carved out of...<a href="explore-and-experience-innerpage.php?id=27">Read more</a></p>
                </div>
            <div class="item" >
                    <a href=" "><img src="/static/nehal/images/faith.jpeg" class="img-fullwidth" style="width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;"></a>
                    <h3>Faith Based</h3>
                    <p>Pondicherry has several sites of religious and spiritual interest. Additionally, visitors interested in religious sites in southern India will find Pondicherry to be an ideal base, as the city has excellent road connectivity as well as ample...<a href="explore-and-experience-innerpage.php?id=27">Read more</a></p>
                </div>
        </div>
    </div>

</div>
</body>
</html>