{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" type="text/css" href="{% static 'nehal/experience.css' %}">
</head>
<body>
<div>
    <center>
        <img src="/static/nehal/images/experience-title.png">
        <br><br>
    </center>
</div>
<div>
    <div class="col-lg-2 col-md-2 visible-lg visible-md">
    </div>
    <div  class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="background-color: white">
        <center> <br>
                	<p> Away from the hustle and bustle of big cities, Puducherry is a quiet little town on the southern coast of India. The unmistakable French connection, the tree lined boulevards, the quaint colonial heritage buildings, the spiritual sceneries, the endless stretches of unspoilt virgin beaches and backwaters and a surprising choice of restaurants serving a melange of cuisines provide a heady mix of experience that draws travellers from near and far to the city. It is the perfect place to come if you want to take the pace of life down a few notches. </p> <br>
				</center>
    </div>
    <div class="col-lg-2 col-md-2 visible-lg visible-md">

    </div>
</div>
</body>
</html>