{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link rel="stylesheet" type="text/css" href="{% static 'nehal/iconic.css' %}">
</head>
<body>
<div class="hi">
    <center>
        <img style="-webkit-user-select: none;margin: auto;cursor: zoom-in;" src="/static/nehal/images/attractions-header.png" width="694" height="40">
        <ul class="menu" style="padding:0; margin:0; ">
            <li style="display:inline-block; padding-right:2px; color:#939598; padding-bottom:10px; "><a style=" text-transform:uppercase; font-family: Cambria;  color:#fff; text-decoration:none; font-size:12px; padding:5px 10px; background:rgba(0,0,0,.90);">ASHRAM AND AUROVILLE</a></li>
            <li style="display:inline-block; padding-right:2px; color:#939598; padding-bottom:10px; "><a style=" text-transform:uppercase; font-family: Cambria;  color:#fff; text-decoration:none; font-size:12px; padding:5px 10px; background:rgba(0,0,0,.90);">HERITAGE BUILDING AND STREET</a></li>
            <li style="display:inline-block; padding-right:2px; color:#939598; padding-bottom:10px; "><a style=" text-transform:uppercase; font-family: Cambria;  color:#fff; text-decoration:none; font-size:12px; padding:5px 10px; background:rgba(0,0,0,.90);">BEACHES</a></li>
            <li style="display:inline-block; padding-right:2px; color:#939598; padding-bottom:10px; "><a style=" text-transform:uppercase; font-family: Cambria;  color:#fff; text-decoration:none; font-size:12px; padding:5px 10px; background:rgba(0,0,0,.90);">BACKWATERS,LAKES AND GARDENS</a></li>
            <li style="display:inline-block; padding-right:2px; color:#939598; padding-bottom:10px; "><a style=" text-transform:uppercase; font-family: Cambria;  color:#fff; text-decoration:none; font-size:12px; padding:5px 10px; background:rgba(0,0,0,.90);">MEMORIALS AND MONUMENTS</a></li>
            <li style="display:inline-block; padding-right:2px; color:#939598; padding-bottom:10px; "><a style=" text-transform:uppercase; font-family: Cambria;  color:#fff; text-decoration:none; font-size:12px; padding:5px 10px; background:rgba(0,0,0,.90);">MUSEUMS</a></li>
            <li style="display:inline-block; padding-right:2px; color:#939598; padding-bottom:10px; "><a style=" text-transform:uppercase; font-family: Cambria;  color:#fff; text-decoration:none; font-size:12px; padding:5px 10px; background:rgba(0,0,0,.90);">TEMPLES</a></li>
            <li style="display:inline-block; padding-right:2px; color:#939598; padding-bottom:10px; "><a style=" text-transform:uppercase; font-family: Cambria;  color:#fff; text-decoration:none; font-size:12px; padding:5px 10px; background:rgba(0,0,0,.90);">CHURCHES</a></li>
            <li style="display:inline-block; padding-right:2px; color:#939598; padding-bottom:10px; "><a style=" text-transform:uppercase; font-family: Cambria;  color:#fff; text-decoration:none; font-size:12px; padding:5px 10px; background:rgba(0,0,0,.90);">MOSQUES</a></li>
            <li style="display:inline-block; padding-right:2px; color:#939598; padding-bottom:10px; "><a style=" text-transform:uppercase; font-family: Cambria;  color:#fff; text-decoration:none; font-size:12px; padding:5px 10px; background:rgba(0,0,0,.90);">ARCHEOLOGICAL SITES</a></li>
        </ul>
    </center>
</div>
</body>
</html>