body {
    background: url('http://www.pondytourism.in/images/fair.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.colorit-white, .colorit-white a {
	color:#FFF;
}

.colorit-black > div {
	background:#000;
	color:#FFF;
}

.colorit-grey { color:#413e3f; }
.colorit-orange { background:#f67d20; }